<div class="prod">
	<div class="prod-top">
		<div class="prod-fav">{{Icon iconName="fav"}} {{Icon iconName="fav-active"}}</div>
		<a href="#" class="prod-img">
			<div class="prod-slider">
				<div>
					<img src="static/img/content/prod-1.jpg" alt="" />
				</div>
				<div>
					<img src="static/img/content/prod-2.jpg" alt="" />
				</div>
				<div>
					<img src="static/img/content/prod-1.jpg" alt="" />
				</div>
				<div>
					<img src="static/img/content/prod-2.jpg" alt="" />
				</div>
			</div>
		</a>
		<div class="prod-labels">
			<span class="prod-label new">NEW</span>
			<span class="prod-label discount">-10%</span>
		</div>
	</div>
	<div class="prod-content">
		<div class="prod-price">
			<div class="prod-price-cur">99 000 ₸</div>
			<div class="prod-price-old">99 000 ₸</div>
		</div>
		<div class="prod-desc">Umbrella cane</div>
	</div>
</div>
