<footer>
	<div class="footer">
		<div class="wrapper">
			<div class="footer-container">
				<div class="footer-col">
					<p class="footer-copy">© 2021 Air Astana</p>
				</div>
				<div class="footer-col">
					<div class="footer-menu">
						<ul>
							<li><a href="#">Travel sets</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#">Clothes</a></li>
							<li><a href="#">Airplane models</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-col">
					<div class="footer-menu">
						<ul>
							<li><a href="#">[Info page]</a></li>
							<li><a href="#">[Info page]</a></li>
							<li><a href="#">Public offer</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-col">
					<div class="soc">
						<!--<div class="m-h4">Stay in touch</div>-->
						<h4>Stay in touch</h4>
						<ul>
							<li><a href="#">{{Icon iconName="soc-1"}}</a></li>
							<li><a href="#">{{Icon iconName="soc-2"}}</a></li>
							<li><a href="#">{{Icon iconName="soc-3"}}</a></li>
							<li><a href="#">{{Icon iconName="soc-4"}}</a></li>
							<li><a href="#">{{Icon iconName="soc-5"}}</a></li>
							<li><a href="#">{{Icon iconName="soc-6"}}</a></li>
							<li><a href="#">{{Icon iconName="soc-7"}}</a></li>
							<li><a href="#">{{Icon iconName="soc-8"}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

{{> scripts/scripts}}
