<header>
	<div class="header">
		<div class="wrapper">
			<div class="header-container">
				<div class="header-top">
					<div class="header-left">
						<p>[Info page]</p>
						<p>[Info page]</p>
					</div>
					<div class="header-right">
						<div data-select class="city-select">
							<input type="hidden" name="question_1" />
							<div class="custom-select-field">
								<div class="custom-select-value selected">Астана</div>
								<div class="custom-select-arrow">{{Icon iconName="select-arrow"}}</div>
							</div>
							<div class="custom-select-options">
								<div class="city-select-title">
									<span>Select city</span>
									<div class="city-select-close">{{Icon iconName="close"}}</div>
								</div>
								<div class="city-select-search">
									<div>
										<div class="city-select-search-icon">{{Icon iconName="search"}}</div>
										<input type="text" placeholder="Search" />
									</div>
								</div>
								<ul>
									<li data-value="Астана" class="selected">Астана</li>
									<li data-value="Алматы">Алматы</li>
									<li data-value="Almaty">Almaty</li>
									<li data-value="Актау">Актау</li>
									<li data-value="Актобе">Актобе</li>
									<li data-value="Атырау">Атырау</li>
									<li data-value="Балхаш">Балхаш</li>
									<li data-value="Жезказган">Жезказган</li>
									<li data-value="Жезказган">Жезказган</li>
									<li data-value="Астана">Астана</li>
									<li data-value="Алматы">Алматы</li>
									<li data-value="Almaty">Almaty</li>
									<li data-value="Актау">Актау</li>
									<li data-value="Актобе">Актобе</li>
									<li data-value="Атырау">Атырау</li>
									<li data-value="Балхаш">Балхаш</li>
									<li data-value="Жезказган">Жезказган</li>
									<li data-value="Жезказган">Жезказган</li>
								</ul>
							</div>
							<div class="select-overlay"></div>
						</div>
						<div data-select>
							<input type="hidden" name="question_2" />
							<div class="custom-select-field">
								<div class="custom-select-value selected">English</div>
								<div class="custom-select-arrow">{{Icon iconName="select-arrow"}}</div>
							</div>
							<div class="custom-select-options">
								<ul>
									<li data-value="English" class="selected">English</li>
									<li data-value="English">English1</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="header-bottom">
					<div class="header-menu-open">{{Icon iconName="menu"}}</div>
					<div class="header-logo">
						<img src="static/img/general/logo-head.svg" alt="" />
						<img src="static/img/general/logo-head-mobile.svg" alt="" />
					</div>
					<div class="header-catalog">
						<div class="header-catalog-button">
							<p>Catalog</p>
							{{Icon iconName="select-arrow"}}
						</div>
						<div class="header-catalog-options">
							<ul>
								<li>
									<div>{{Icon iconName="catalog-1"}}</div>
									<span> Travel sets </span>
									{{Icon iconName="select-arrow"}}
								</li>
								<li>
									<div>{{Icon iconName="catalog-2"}}</div>
									<span> Accessories </span>
									{{Icon iconName="select-arrow"}}
								</li>
								<li>
									<div>{{Icon iconName="catalog-3"}}</div>
									<span> Clothes </span>
									{{Icon iconName="select-arrow"}}
								</li>
								<li>
									<div>{{Icon iconName="catalog-4"}}</div>
									<span> Airplane models </span>
									{{Icon iconName="select-arrow"}}
								</li>
							</ul>
						</div>
					</div>
					<div class="header-search">
						<div class="header-search-icon">{{Icon iconName="search"}}</div>
						<input type="text" placeholder="Search" />
						<div class="header-search-reset">{{Icon iconName="search-reset"}}</div>
						<div class="header-search-drop">
							<ul>
								<ul>
									<li>
										<div>{{Icon iconName="search"}}</div>
										<span> Bag </span>
										{{Icon iconName="select-arrow"}}
									</li>
									<li>
										<div>{{Icon iconName="search"}}</div>
										<span> Backpack </span>
										{{Icon iconName="select-arrow"}}
									</li>
									<li>
										<div>
											<img src="static/img/content/search-1.jpg" alt="" />
										</div>
										<span> National Geographic Kids Backpack Bag </span>
										{{Icon iconName="select-arrow"}}
									</li>
								</ul>
							</ul>
						</div>
					</div>
					<div class="header-features">
						<a href="#">{{Icon iconName="head-feat-1"}}</a>
						<a href="#" data-count="999+">{{Icon iconName="head-feat-2"}}</a>
						<a href="#" class="active">{{Icon iconName="head-feat-3"}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-mobile">
		<div class="header-mobile-close">{{Icon iconName="close"}}</div>
		<div class="header-mobile-search">
			<div class="header-search">
				<div class="header-search-icon">{{Icon iconName="search"}}</div>
				<input type="text" placeholder="Search" />
				<div class="header-search-reset">{{Icon iconName="search-reset"}}</div>
			</div>
		</div>
		<div class="header-mobile-catalog">
			<ul>
				<li>
					<div>{{Icon iconName="catalog-1"}}</div>
					<span> Travel sets </span>
					{{Icon iconName="select-arrow"}}
				</li>
				<li>
					<div>{{Icon iconName="catalog-2"}}</div>
					<span> Accessories </span>
					{{Icon iconName="select-arrow"}}
				</li>
				<li>
					<div>{{Icon iconName="catalog-3"}}</div>
					<span> Clothes </span>
					{{Icon iconName="select-arrow"}}
				</li>
				<li>
					<div>{{Icon iconName="catalog-4"}}</div>
					<span> Airplane models </span>
					{{Icon iconName="select-arrow"}}
				</li>
			</ul>
		</div>
		<div class="header-mobile-items">
			<div data-select>
				<input type="hidden" name="question_1" />
				<div class="custom-select-field">
					<div class="custom-select-value selected">Астана</div>
					<div class="custom-select-arrow">{{Icon iconName="select-arrow"}}</div>
				</div>
			</div>
			<div data-select>
				<input type="hidden" name="question_2" />
				<div class="custom-select-field">
					<div class="custom-select-value selected">English</div>
					<div class="custom-select-arrow">{{Icon iconName="select-arrow"}}</div>
				</div>
			</div>
			<a href="#">Link</a>
			<a href="#">Link</a>
		</div>
	</div>
</header>
